/* CSS Fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* CSS RESET BY DIGITAL OCEAN */
html {
  box-sizing: border-box;
  font-size: 16px;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* CSS RESET BY DIGITAL OCEAN */

/* CSS Variables */

:root {
  --dark-grey: rgb(54, 54, 54);
  --black: rgb(29, 29, 29);
  --light-grey: rgb(119, 119, 119);
}

/* CSS Variables */

body {
  background-color: rgb(29, 29, 29);
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 6rem 1fr 5rem;
  grid-template-areas: 
    "nav nav nav"
    "content-wrapper content-wrapper content-wrapper"
    "footer footer footer";
  font-family:  'Source Code Pro', Arial, Helvetica, sans-serif;
  color: white;
}

/* General CSS */
.nav,
.content-wrapper,
.footer {
  background-color: white;
}

/* .nav Section */
.nav {
  grid-area: nav;
  background-color: var(--dark-grey);
}

/* .content-wrapper Section */
.content-wrapper {
  grid-area: content-wrapper;
  background-color: var(--black);
  display: flex;
}

/* .content-wrapper > */
.sidebar,
.content {
  outline: auto white;
}

/* .sidebar Section */
.sidebar {
  background-color: var(--light-grey);
  flex-basis: 250px;
}

/* .content Section */
.content {
  flex-grow: 1;
}

/* .footer Section */
.footer {
  grid-area: footer;
  background-color: var(--dark-grey);
}