/* CSS Fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* CSS RESET BY DIGITAL OCEAN */
html {
  box-sizing: border-box;
  font-size: 16px;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* CSS RESET BY DIGITAL OCEAN */

/* CSS Variables */

:root {
  --dark-grey: rgb(54, 54, 54);
  --black: rgb(29, 29, 29);
  --light-grey: rgb(119, 119, 119);
}

/* CSS Variables */

body {
  background-color: rgb(29, 29, 29);
  height: 100vh;
  font-family:  'Source Code Pro', Arial, Helvetica, sans-serif;
  color: white;
}

/* .content-wrapper Section */
.content-wrapper {
  height: 100vh;
  background-color: white; 
  background-color: var(--black);
  display: flex;
}

/* .content-wrapper > */
.sidebar,
.content {
  outline: auto white;
}

/* .sidebar Section */
.sidebar {
  background-color: var(--light-grey);
  flex-basis: 15rem;
  padding-top: 1rem;
  padding-left: 1rem;
}

.sidebar > ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project-nav-items {
  margin-top: 10px;
  padding-left: 15px;
}

/* .nav-items Section */
.nav-items {
  font-size: 1.5rem;
}

/* .content Section */
.content {
  flex-grow: 1;
}

/* End Of Specific Sections */
.nav,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}