.display-tasks {
  padding: .6rem;
}

.task-wrapper {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 15px;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.2s ease;
}

.task-wrapper:hover {
  background: rgba(255, 255, 255, 0.05); /* optional visual hover effect */
}

/* TODO: Style the checkbox use apperance: none and -webkit-apperance: none */