.display-tasks {
  padding: .6rem;
}

.task-wrapper {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 15px;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.2s ease;
}

.task-wrapper:hover {
  background: rgba(255, 255, 255, 0.05); /* optional visual hover effect */
}

.trash-icon {
  margin-left: auto;
}

.trash-icon:hover {
  transform: scale(1.1);
  transition: 120ms transform ease-in-out;
}

.trash-icon:active > path {
  transition: 220ms transform ease-in-out;
  fill: rgb(196, 196, 196);
}

/*! Got this code from */
/*! https://moderncss.dev/pure-css-custom-checkbox-style/#step-2-custom-unchecked-checkbox-styles */
input[type="checkbox"] {
  cursor: pointer;
  /*? Remove default Checkbox Styles */
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  /* background-color: #fff; */
  /* Not removed via appearance */
  margin: 0;
  /*? Remove default Checkbox Styles */

  /*? Custom styles */
  font: inherit;
  color: currentColor;
  width: 1.15rem;
  height: 1.15rem;
  border: 0.15rem solid currentColor;
  border-radius: 0.15rem;
  transform: translateY(-0.075rem);
  /*? Custom styles */

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: white;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:checked + .task-title {
  color: grey;
  transition: 120ms transform ease-in-out;
  text-decoration: line-through;
}

input[type="checkbox"]:checked {
  color: grey;
}
/*! End of moderncss code  */